body{
	margin: 0;
	padding: 0;
}

map{
	display: block;
	/* width: 100px;
	height: 100px; */
}

map svg{
	width: 120px;
	height: 120px;
	position: relative;
	background: darkgray;
}

map svg .st0 rect,
map svg .st0 path{
	fill:none;
	stroke:black;
	stroke-width:35;
	stroke-miterlimit:10;
}
map svg .st1 {
	fill:none;
	stroke:lime;
	stroke-width:35;
	stroke-miterlimit:10;
	fill: white;
	fill-opacity: .8;
	transition: all .75s;
}

map:hover svg .st1{
	stroke: red;
	stroke-width: 75;
}

map svg .st0 rect{
	fill: blue;
}
map svg .st0 rect:hover{
	stroke: blue;
	z-index: 0;
}
map svg .st0 path{
	fill: red;
}
map svg .st0 path:hover{
	stroke: red;
}